# Stocks Trading AI

**Author:** Renish Kanjiyani <br>
**Date:** 05/11/2023 <br>
**E-mail:** kanjiyanirenish2@gmail.com

## Table of Contents:

### [1. Introduction](#1)

- #### [1.1 Context - Project Background, Business Problem](#1.1)

- #### [1.2 Dataset - Source of Data](#1.2)

- #### [1.3 Dataset Dictionary - Explanation of Dataset](#1.3)

- #### [1.4 Question of Interest - Outcome of The Project](#1.4)

### [2. Data Cleaning](#2)

#### [2.1 Importing Packages](#2.1)

#### [2.2 Loading The Dataset - Importing The CSV File](#2.2)

#### [2.3 ](#2.3)

### [3. Data Exploration](#3)

----------------------------------------

<a id=1></a>
**INTRODUCTION:**

-----------

**DATA CLEANING:**

In [1]:
# Loading all the packages required

import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='once')

In [2]:
# Loading the dataset 

stocks_df = pd.read_csv\
('/Users/renishkanjiyani/Documents/BrainStation/Final Project/nasdaq_stocks_100.csv', sep='\t')

In [3]:
stocks_df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Name
0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.562591,493729600,AAPL
1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.573935,601904800,AAPL
2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.469369,552160000,AAPL
3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.457407,477131200,AAPL
4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.500339,447610800,AAPL
5,2010-01-11,7.600000,7.607143,7.444643,7.503929,6.442997,462229600,AAPL
6,2010-01-12,7.471071,7.491786,7.372143,7.418571,6.369709,594459600,AAPL
7,2010-01-13,7.423929,7.533214,7.289286,7.523214,6.459555,605892000,AAPL
8,2010-01-14,7.503929,7.516429,7.465000,7.479643,6.422143,432894000,AAPL
9,2010-01-15,7.533214,7.557143,7.352500,7.354643,6.314816,594067600,AAPL

In [5]:
stocks_df.tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume,Name
271670,2021-08-27,343.880005,344.779999,337.649994,340.809998,340.809998,3089600,ZM
271671,2021-08-30,341.700012,348.299988,339.649994,347.500000,347.500000,10094400,ZM
271672,2021-08-31,294.000000,295.869995,288.299988,289.500000,289.500000,34582900,ZM
271673,2021-09-01,292.850006,299.399994,290.049988,290.859985,290.859985,14996000,ZM
271674,2021-09-02,292.799988,296.690002,290.410004,295.089996,295.089996,6645200,ZM
271675,2021-09-03,295.325012,301.804993,292.029999,298.290009,298.290009,6127900,ZM
271676,2021-09-07,298.295013,300.980011,294.799988,299.959991,299.959991,4251900,ZM
271677,2021-09-08,299.549988,299.959991,290.529999,293.600006,293.600006,3934400,ZM
271678,2021-09-09,292.160004,297.570007,291.130005,295.859985,295.859985,3350100,ZM
271679,2021-09-10,296.910004,306.263000,296.809998,301.500000,301.500000,6089600,ZM

------

**DATA EXPLORATION:**